<% if instance.os != "nat" %>
script "iptables" do
  interpreter "bash"
  user "root"
  cwd "/tmp"
  code <<-EOH
# allow ssh in
iptables -A INPUT  -p tcp --dport ssh -m state --state NEW,ESTABLISHED -j ACCEPT
iptables -A OUTPUT -p tcp --sport ssh -m state --state ESTABLISHED     -j ACCEPT
# allow ssh out to local network
iptables -A OUTPUT -p tcp -d 10.0.0.0/16 --dport ssh -m state --state NEW,ESTABLISHED -j ACCEPT
iptables -A INPUT -p tcp -d 10.0.0.0/16 --sport ssh -m state --state ESTABLISHED -j ACCEPT
# allow dns
iptables -A INPUT  -p udp --sport 53 -m state --state ESTABLISHED,RELATED -j ACCEPT
iptables -A OUTPUT -p udp --dport 53 -m state --state NEW,ESTABLISHED     -j ACCEPT
# allow s3
<s3_routing_rules>
# allow all outgoing to local network
iptables -A INPUT  -d 10.0.0.0/16 -j ACCEPT
iptables -A OUTPUT -d 10.0.0.0/16 -j ACCEPT
iptables --policy INPUT   DROP
iptables --policy OUTPUT  DROP
iptables --policy FORWARD DROP
  EOH
end
<% end %>
