= render 'admin/modals/create_instructor'
= render 'admin/modals/student_group_create'
= render 'admin/modals/student_group_user_add'

%div.panel.panel-default
  %div.panel-heading.nav.nav-pills
    %li
      %h3
        Admin Home

  %div.panel-body
    = render 'partials/account_information.html.haml'
    %hr

    %label AWS Settings:
    - if not @aws_working
      %div.failure
        FAILED TO VALIDATE CREDENTIALS
    %div.row
      %div.col-sm-6
        %b Access Key ID:
        = ENV["AWS_ACCESS_KEY_ID"].sub(/^.............../, "...............")
        %br
        %b Access Key:
        = ENV["AWS_SECRET_ACCESS_KEY"].sub(/^.................................../,
            "...................................")
        %br
        %b Region:
        = ENV["AWS_REGION"]
        %br
        %b EC2 Key:
        = Settings.ec2_key
      %div.col-sm-6
        %b Bucket Name:
        = Settings.bucket_name
        %br
        %b VPC Limit:
        = Settings.vpc_limit
        %br
        %b AMI NAT:
        = Settings.ami_nat
        %br
        %b AMI Ubuntu:
        = Settings.ami_ubuntu

    %hr

    %label Registration Code:
    %dl
      = @user.registration_code
    %p

    %hr

    %label User Information:

    %dl
      %span.pull-right= link_to '+ create instructor', "#modal-create-instructor", :data => {:toggle=>"modal"}, |
              onclick: "$('#modal-create-instructor').find('#email').val('');" +                  |
                       "$('#modal-create-instructor').find('#name').val('');" +                   |
                       "$('#modal-create-instructor').find('#organization').val('');"             |
      %label Instructors:
      %dl

        %table.table#instructors-table
          %tr
            %th Name
            %th Email
            %th Organization
            %th
          - @instructors.each do |user|
            = render 'instructor', user: user

      %label
        Students:
        = link_to 'expand/collapse', '#students-table',
            data: { toggle: 'collapse', target: '#students-table-collapse' }

      %dl
        %div.collapse.in#students-table-collapse
          = form_tag '#', method: :post, remote: true, class: 'form-inline', id: 'students-table-form' do
            = hidden_field_tag 'action', value: 'delete'
            %table.table#students-table
              %tr
                %td
                  <a href="javascript:$('#students-table input:checkbox').prop('checked', true);">all</a>,
                  <a href="javascript:$('#students-table input:checkbox').prop('checked', false);">none</a>
                %th Name
                %th Email
                %th Organization
                %th
              - @students.each do |user|
                = render 'student', user: user
              %tr#foot
                %td{ colspan: "5" }
                  <a href="javascript:$('#students-table input:checkbox').prop('checked', true);">all</a>,
                  <a href="javascript:$('#students-table input:checkbox').prop('checked', false);">none</a>,
                  %b with selected:
                  = (link_to 'add to all', "javascript:void(0);",
                    onclick: "$('#students-table-form').attr('action', '#{admin_student_add_to_all_path}');$('#students-table-form').submit();") + ','
                  = link_to('delete', "javascript:void(0);", remote: true, method: :post,
                    onclick: "$('#students-table-form').attr('action', '#{admin_user_delete_path}');$('#students-table-form').submit();",
                    :data => { :confirm => "Are you sure you want to delete all selected students?" })

      %span.pull-right= link_to '+ create student group', '#modal-student-group-create', data: {toggle: "modal"}, onclick: "$('#modal-student-group-create').find('#name-div').removeClass('has-error'); $('#modal-student-group-create').find('#name').val(''); $('#modal-student-group-create').find('#name-help').html(''); "
      %label Student groups:
      %dl
        %dl{ id: "student-groups" }
          - @user.student_groups.each do |student_group|
            = render 'student_group', student_group: student_group, scenario: @scenario
