%nav.navbar.navbar-default
  %a.navbar-brand
    Help Documentation 

  %ul.nav.nav-tabs

    %li{role: 'presentation', class: params[:controller] == 'tutorials' ? "active" : "" }
      = link_to 'Help Docs', tutorials_path

    // Only display relevant docs for admin or instructor
    - if @user.is_admin? or @user.is_instructor?

      %li{role: 'presentation' }
        = link_to 'Quick Start', tutorials_quick_start_guide_path

      %li{role: 'presentation' }
        = link_to 'Making Scenarios', tutorials_making_scenarios_path

      %li{role: 'presentation'}
        = link_to 'Instructor Manual', tutorials_instructor_manual_path

    // Only display student docs
    - if @user.is_student?

      %li{role: 'presentation'}
        = link_to 'SSH Inception Help', tutorials_ssh_inception_path
     
      %li{role: 'presentation'}
        = link_to 'Total Recon Help', tutorials_total_recon_path

    %li{role: 'presentation'}
      = link_to 'Student Manual', tutorials_student_manual_path

%article{:role => "article", :class => "span9"}

  %h2 
    EDURange - Help Docs
  %font{:size => 4}
    Welcome to the EDURange Help Documentation. These pages provide a number
    of tutorials and reference guides for instructors as well as students.
    If you have a question that is not covered in these docs, please feel
    to reach out to
    %a
      = mail_to('admin@edurange.org', 'EDURange help.')
    If there are topics you would like to see covered here, please let us
    know.

    - if @user.is_admin? or @user.is_instructor?
      %br
      %br
      %h3
        EDURange project information:
      %li
        %a
          = link_to 'EDURange Project Blog', 'http://blogs.evergreen.edu/edurange/'
        <br/> This page provides information about our NSF backing, our mission,
        and our project goals.
        <br/>
        <br/>        
      %li
        %a
          = link_to 'EDURange Github', 'https://github.com/edurange/edurange-server'
        <br/> Our Github Repository. Feel free to look around or make a pull request.
        <br/>
        <br/>

    - if @user.is_student?
      %br
      %br
      %h3
        New to EDURange? 
      If you're doing a scenario other than 
      SSH Inception but are unfamiliar with ssh, you might find the
      %a
        = link_to('SSH Inception help section', 'tutorials_ssh_inception_path')
      a useful place to start.
      %br
      %br
      %h3
        Online Security Resources:
      %li
        %a
          = link_to 'Bandit Wargame', 'http://overthewire.org/wargames/bandit/'
        <br/> Bandit is one of the best places to start for those interested in learning
        about bash and wargames. "The Bandit wargame is aimed at absolute beginners. 
        It will teach the basics needed to be able to play other wargames."
        <br/>
        <br/>
      %li
        %a
          = link_to 'Pico CTF', 'https://picoctf.com/'
        <br/> PicoCTF is a 'capture the flag' computer security game on easy mode. 
        <br/>
        <br/>
      %li
        %a
          = link_to 'Smash the Stack', 'http://smashthestack.org/'
        <br/> This site hosts a number of wargames. "A wargame, in this context, is an 
        environment that simulates software vulnerabilities and allows for the legal 
        execution of exploitation techniques."
        <br/>
        <br/>
 
  %br
  %br
  %br
