%nav.navbar.navbar-default
  %a.navbar-brand
    Help Documentation

  %ul.nav.nav-tabs

    %li{role: 'presentation'}
      = link_to 'Help Docs', tutorials_path

    %li{role: 'presentation'}
      = link_to 'Quick Start', tutorials_quick_start_guide_path

    %li{role: 'presentation', class: params[:controller] == 'tutorials' ? "active" : "" }
      = link_to 'Making Scenarios', tutorials_making_scenarios_path

    %li{role: 'presentation'}
      = link_to 'Instructor Manual', tutorials_instructor_manual_path

    %li{role: 'presentation'}
      = link_to 'Student Manual', tutorials_student_manual_path

%article{:role => "article", :class => "span9"}

  %h2 
    EDURange - Making Scenarios
  %font{:size => 4}
    This is a guide for creating and modifying scenarios. The details are likely to change as we
    continue to work on the user interface, but the generalities should remain the same. We're
    always excited to see people develop their own scenarios and modifications, so we'd love to
    help if you run into any trouble. You can contact us at 
    %a
      = mail_to('admin@edurange.org', 'EDURange help.')
  

  %h3 
    I. Clone an existing scenario

  %font{:size => 4}
    From the scenarios tab, load a new scenario. Select the clone button next to the scenario you wish
    to clone. 

  %h3 
    II. Add or modify new instances and subnets

  %font{:size => 4}
    Instances are just standard linux VMs that you can configure with scripts called recipes.
    If you don't plan to add any new instances to the scenario, you can skip this step. The order isn't
    important either. If you want to add roles and recipes before adding instances, you can do that.
    New instances are created with the dropdown menu besides 'Instances', right below Player_Subnet.
    You will have to fill in four fields: Name, IP Address, Internet Accessible, and Operating System.
    Name should be an alphanumeric string containing no spaces. IP can be anything in the range of the
    subnet it is under. Instances can't be internet accessible unless the subnet they are under is
    internet accessible. Most instances will have Ubuntu as their OS, but there should be more options
    in the future. You may also create or modify subnets in a similar fashion. The fields required for
    the creation of a new subnet are Name, CIDR, and Internet Accessible. You will need to specify a
    CIDR that doesn't overlap with that of another subnet.

  %h3 
    III. Make new recipe

  %font{:size => 4}
    Recipes are the way instances are modified. They are usually bash scripts and a bit of ruby packaging.
    The Recipes drop down button is below the Roles section. You can add Global Recipes, which are recipes
    we have made for various scenarios, or you can make your own Custom Recipes. To make your own,
    I suggest copying an existing recipe, and then delete your code between the "code <<-EOH" line
    and the second "EOH" line. Add your bash script between the EOH lines.

  %h3 
    IV. Make a new role (or use existing), add recipes and packages to role

  %font{:size => 4}
    Roles are the way to add packages (such as nmap, emacs, htop) and recipes to instances. Use the Role 
    drop-down button to create a new one. Then under the new role, you can add the packages and recipes you want.

  %h3 
    V. Add role to instance

  %font{:size => 4}
    Once you've created your roles and added the packages and recipes you want, scroll up to the Instances section.
    Select the drop-down button by the instance you want, and add the role you want to give that instance. You can
    use the same role on multiple instances. Instances can also have multiple roles, which simply means that all the
    recipes and packages from all roles will be added to that instance. An instance must be unbooted in order to 
    recieve a new role.

    %h3 
      VI. Modify questions / answers

    %font{:size => 4}
      The Questions section is at the bottom of the page. You can use the drop down button by Questions to create
      new questions. As you are creating a question, you can add values and the points students receive when they
      answer the questions with those values. There are various options for questions -- they can be number,
      strings, or essay answers, and each of these has additional options.

  %h3 
    VII. Add and configure student teams

  %font{:size => 4}      
    Below the instances section, you will find Teams. Using the drop down menu, you can add new teams. The main
    function of teams is that they allow you to control which students have access to which instances. Furthermore,
    you can specify who has normal access and who has full sudo access. Select the drop-down button by Admin Access
    or User Access for the given team you want to modify. Then select the instances you would like that the members
    of that team to access. After you have added all the instances for that team, select the drop down by the team's
    name. Select "Add Student Group" to add a group of students to this scenario.
    </br>
    </br>
    </br>
  %font{:size => 3}      
    Created by Jeff Ladish
